# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Mac
.DS_Store

# Build Artifacts
build/
dist/
*.spec
*.pkg

# Project specific
*.drt
# Ignore local keys if present (though default is ~/.drtencryptor)
*.key
secret.key

# Test files
test_*.txt
