# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.spec

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Distribution / Build
build/
dist/
*.pkg

# Testing / Runtime
*.log
secret.key
*.pem
test_*.png
test_*.wav
*.drt
*.drt-rsa
decrypted_*
